<!DOCTYPE html>
<html lang="en" ng-app="Tombola.Module.Main" ng-controller="ApiController">
<head>
    <script type="text/javascript" src="../thirdparty/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../thirdparty/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <meta charset="UTF-8">
    <title>Bingo</title>
</head>
<body>
<h1> Welcome! Lets play some bingo</h1>
<div class="playerInformation">
    <div>Username: {{gameApi.username}}</div>
    <div>Balance:{{gameApi.balance | currency}}</div>
</div>
<div>
    <input type="button" value="Start new game" ng-click="gameApi.getNextGame()">
</div>
<input type="button" value="Log Out" ng-click="gameApi.logOut()">
<br>

<div ng-controller="BingoTicket">
    <input type="button" value="Buy ticket" ng-click="createTicket()">
    <table class="ticket">
        <tr ng-repeat="row in ticket.rows">
            <td ng-repeat="spot in row.spots">
         </td>
        </tr>
    </table>
    </div>
<a ui-sref="home" href="#">Home</a>
</body>
<script src="../scripts/app.js"></script>
</html>