<!DOCTYPE html>
<html lang="en" ng-app="Tombola.Module.ApiCall" ng-controller="ApiController">
<head>
    <script type="text/javascript" src="../thirdparty/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../thirdparty/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <meta charset="UTF-8">
    <title>Bingo</title>
</head>
<body>
    <div class="login">
        <h1>Login to Bingo</h1>
        <form>
            <p><input type="text" ng-model="{{apiCalls.username}}" name="username" value="" placeholder="Username or Email"></p>
            <p><input type="password" ng-model="{{apiCalls.password}}" name="password" value="" placeholder="Password"></p>
            <p class="remember_me">
                <label>
                    <input type="checkbox" name="remember_me" id="remember_me">
                    Remember me on this computer
                </label>
            </p>
            <input type="button" value="Submit" ng-click="gameApi.logIn()">
        </form>
    </div>
</body>
<script src="../scripts/app.js"></script>
</html>